.question {
  margin: 13px 0;
  display: flex;
  font-size: 1.1rem;
  align-items: center;
}
  
.question-btn-yes,
.question-btn-no,
.question-btn {
  font-size: 14px;
  border: none;
  margin: 0px 10px;
  width: 60px;
  padding: 7px 1px;
  background-color: var(--light-blue);
  color: white;
  transition: all 0.2s ease;
}

.question-btn {
  width: fit-content;
  padding: 7px 10px;
}

.question-btn:hover,
.question-btn-yes:hover {
  background-color: var(--green);
  color: var(--dark-blue);
}

.question-btn-no:hover  {
  background-color: #ff4545;
  color: var(--dark-blue);
}
  
.question-dropdown {
  display: flex;
  flex-direction: column;
  height: 20px;
  width: 200px;
  margin-left: 20px;
}
  
.question p {
  margin: 10px 0px;
  font-size: 1rem;
  color: var(--green);
}


.question p span {
  color: white;
  margin-left: 10px;
}
  
.question input,
.question select {
  background-color: #ff454500;
  border: none;
  padding:  2px;
  margin-left: 20px;
  color: white;
  
}

.question input {
  border-bottom: white 1px solid;
}

.question select {
  border: white 1px solid;
  width: auto;
  height: auto;
}